/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 *
 * Modified by Lokesh Kumar (https://github.com/codetit4n)
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

 / {
     keymap {
         compatible = "zmk,keymap";

         default_layer {
             display-name = "QWERTY";
             bindings = <
&kp ESC     &kp N1     &kp N2     &kp N3     &kp N4     &kp N5                     &kp N6     &kp N7     &kp N8     &kp N9     &kp N0     &kp BSPC
&kp GRAVE   &kp Q      &kp W      &kp E      &kp R      &kp T                      &kp Y      &kp U      &kp I      &kp O      &kp P      &kp BSLH
&kp TAB     &kp A      &kp S      &kp D      &kp F      &kp G                      &kp H      &kp J      &kp K      &kp L      &kp SEMI   &kp SQT
&kp LSHFT   &kp Z      &kp X      &kp C      &kp V      &kp B   &kp LBKT &kp RBKT   &kp N      &kp M      &kp COMMA  &kp DOT    &kp FSLH   &kp RSHFT
                         &kp LALT  &kp LCTRL  &kp LGUI   &kp SPACE &kp RET           &mo 1      &mo 2      &kp RALT
             >;
         };

         lower_layer {
             display-name = "Lower";
             bindings = <
&kp ESC     &kp F1     &kp F2     &kp F3     &kp F4     &kp F5                     &kp F6     &kp F7     &kp F8     &kp F9     &kp F10    &kp BSPC
&kp GRAVE   &kp N1     &kp N2     &kp N3     &kp N4     &kp N5                     &kp N6     &kp N7     &kp N8     &kp N9     &kp N0     &kp BSLH
&kp TAB     &none      &kp S      &none      &none      &none                      &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT  &kp SEMI   &kp SQT
&kp LSHFT   &none      &none      &kp C      &none      &none  &kp LBRC &kp RBRC   &kp MINUS  &kp EQUAL  &kp COMMA  &kp DOT    &kp FSLH   &kp RSHFT
                         &kp LALT  &kp LCTRL  &kp LGUI   &kp SPACE &kp RET          &none      &mo 2      &kp RALT
             >;
         };

         raise_layer {
             display-name = "Raise";
             bindings = <
&kp ESC     &kp N1     &kp N2     &kp N3     &kp N4     &kp N5                     &kp N6     &kp N7     &kp N8     &kp N9     &kp N0     &kp BSPC
&kp TILDE   &kp EXCL   &kp AT     &kp HASH   &kp DOLLAR &kp PRCNT                  &kp CARET  &kp AMPS   &kp STAR   &kp LPAR   &kp RPAR   &kp PIPE
&kp TAB     &none      &kp S      &none      &kp BTN1   &kp BTN2                   &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT  &none      &kp SQT
&kp LSHFT   &none      &none      &kp C      &none      &none  &kp LBRC &kp RBRC   &kp MINUS  &kp EQUAL  &kp COMMA  &kp DOT    &kp FSLH   &kp RSHFT
                         &kp LALT  &kp LCTRL  &kp LGUI   &kp SPACE &kp RET          &mo 1      &none      &kp RALT
             >;
         };

         adjust_layer {
             display-name = "Adjust";
             bindings = <
&none       &kp N1     &kp N2     &kp N3     &kp N4     &kp N5                     &kp N6     &kp N7     &kp N8     &kp N9     &kp N0     &none
&kp PG_UP   &none      &none      &none      &none      &none                      &none      &none      &none      &none      &none      &none
&kp PG_DN   &none      &none      &none      &none      &none                      &none      &none      &none      &none      &none      &none
&kp MUTE    &none      &none      &none      &none      &none  &kp F11  &kp F12    &none      &none      &none      &none      &none      &none
                         &kp VOLD  &kp VOLU   &none      &none     &none            &none      &none      &none
             >;
         };
     };
 };
